.App {
  text-align: center;
}

input{
  width:100px;
  display: inline-block;
}
label{
  width:100px;
  display: inline-block;
}
.signup{
  background-color: blue;
  width:300px;
  height:400px;
}
.login{
  background-color: blue;
  width:300px;
  height:300px;
}
img{
  width: 100px;
  height: 100px;
}
.edit{
  width:300px;
  height: 400px;
  background-color: blue;
}